* {
  max-width: 750px;
  margin: auto;
}
body {
  min-width: 500px;
}
h1 {
  color: rgba(0,0,0,1);
  font-family: Dela Gothic One;
  font-weight: Regular;
  font-size: 14px;
  text-transform: uppercase;
}
h2 {
  color: rgba(0,0,0,1);
  font-family: Zen Maru Gothic;
  font-weight: Black;
  font-size: 12px;
}
p, li, th, td  {
  color: rgba(0,0,0,1);
  font-family: Zen Maru Gothic;
  font-weight: Regular;
  font-size: 12px;
}
.contact {
  width: 44px;
  color: rgba(0,0,0,1);
  top: 56px;
  left: 22px;
  font-family: Zen Maru Gothic;
  font-weight: Regular;
  font-size: 7px;
}
.background {
  width: 595px;
  height: 842px;
  background: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.firstname {
  width: 140px;
  color: rgba(255,255,255,1);
  top: 42px;
  left: 212px;
  font-family: Dela Gothic One;
  font-weight: Regular;
  font-size: 32px;
}
.secondname{
  width: 235px;
  color: rgba(0,0,0,1);
  top: 90px;
  left: 212px;
  font-family: Dela Gothic One;
  font-weight: Regular;
  font-size: 32px;
}
.industry {
  width: 99px;
  color: rgba(0,0,0,1);
  top: 136px;
  left: 212px;
  font-family: Zen Maru Gothic;
  font-weight: Regular;
  font-size: 12px;
}

div {
  border-radius: 5px;
}

#headeror {
  height: 50px;
  width: 100%;
  background-color: #FF6633;
  position: fixed;
  z-index: 2;
}
#headerwh {
  height: 110px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #FF6633;
  clear: both;
  position: relative;
}

.left {
  height: 1150px;
  width: 45px;
  float: left;
  position: fixed;
}

.right {
  height: 1150px;
  width: 45px;
  float: right;
  position: relative;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

#name {
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}
table {
  width: 100%;
}
